django
django-htmx
django-analytical
django-crispy-forms
django-celery-beat
django-celery-results
django-taggit
django-cors-headers
django-minify-html
django-slugger

python-dotenv
tweepy
python-telegram-bot
xhtml2pdf
markdown
deepl
flake8
coverage
autopep8
psycopg2-binary
gunicorn
redis
hiredis
